name = "spearyx-jobs"
compatibility_date = "2025-11-30"
compatibility_flags = ["nodejs_compat"]

[[d1_databases]]
binding = "DB"
database_name = "spearyx-jobs"
database_id = "991bbe3f-8b3a-4ce4-9de8-c2110052662f"
preview_database_id = "991bbe3f-8b3a-4ce4-9de8-c2110052662f"
migrations_dir = "drizzle"

[assets]
directory = "dist/client"
