name = "spearyx-app-web"
compatibility_date = "2024-04-01"
compatibility_flags = [ "nodejs_compat" ]

[observability]
enabled = true

[[d1_databases]]
binding = "DB"
database_name = "spearyx-jobs"
database_id = "991bbe3f-8b3a-4ce4-9de8-c2110052662f"
preview_database_id = "991bbe3f-8b3a-4ce4-9de8-c2110052662f"
migrations_dir = "drizzle"
