.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem 1rem;
  gap: 0.75rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1024px) {
  .headerContainer {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}
